div{
    font-family: sans-serif;
    padding:0 1px 1 0px;
}
body{
    margin:0;
}
.header{
    text-align: center;
    height:20px;
    width:100%;
    padding-top:10px;
    padding-bottom: 10px;
    background-color:rgb(250, 250, 250);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    position:fixed;
    z-index:0;
}

.wrapper{
    display: flex;
    height:250px;
    width: 100%;
    padding-top:50px;
    padding-bottom:10px;
}
.prof_pic{
    min-width:30%;
    padding:5px;
}
#tapan{
    border-radius: 500px;
    text-align: center;
    height:220px;
    margin-top:10px;
}
.prof_wrapper{
    min-width:60%;
    display:flex;
    
}
.details{
    background-color:#4abaff;
    min-width:35%;
    border-radius: 50px;
    padding-left: 5%;
    color: aliceblue;
    font-size: 20px;
}
.home{
    text-align: center;
    height: 30px;
    padding-top:5px;
}
.body_wrapper{
    display:flex;
    height: 350px;
    padding:3px;
    padding-top:10px;
    padding-bottom:10px;
}
.navigation{
    min-width:25%;
    background-color:#4abaff;
    border-radius: 20px;
    padding:1px;
}
.main{
    min-width:70%;
    padding-left: 5%;
    border-radius: 20px;
}
.footer{
    text-align: center;
    background:#d1ebf3;
    height:50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.navlinks{
    list-style-type:none;
}
li{
    padding: 5px;
    margin-right:5px;
}
a{
    text-decoration: none;
    color:black;
}
li:hover,a:hover{
    color: #fff;
    cursor: pointer;
}
.rule{
    background-color:#ecedf0;
    height:1px;
}
